*{

}


span.breadcrumb__separator {
    color: #E6A42B;
    font-size: 75%;
}

nav.breadcrumb {
    padding-top: 2rem;
}


html {
   
font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .65rem;
}


a{
    color: #003976;
}

body {
    padding: 0 8rem;
    background-color: #f1f1f1;
}

main h1{
color: #003976;
text-transform: uppercase;
font-weight: 500;
}


nav.header__secondary-menu {
    padding-left: 2rem;
	left: 50%;
}

main.layout-3col__full {
    padding: 0 2rem;
}

.front main.layout-3col__full{
padding:0;
}

.layout-center {
  
    max-width: 100%;
margin:0!important;
padding:0!important;
box-sizing:border-box; 
background-color: white;
box-shadow: 0 8px 20px #00000069;
}

h2.block__title {
    display: none;
}


/*.layout-3col.layout-swap {
    padding: 1rem;
}*/


header.header {
    background-color: #2d7581;
    height: 12rem;
border-bottom: .5rem solid #e6a42b;
    box-shadow: 0 5px 2px #00000040;
position:relative;
}


/********** RHT Search box tweaks 11/01/18 QA ************/
 #search-block-form .form-submit{
	background: url("/sapr_drupal_code/sites/default/files/magnifying-glass.png") no-repeat center center;
	width : 19px;
	height :52px;
	border : none;
	color : transparent;
 }

 #search-block-form{
 margin-top: 45px;
 }




.topMenu{
    margin-bottom: -38px;
    margin-top: -20px;
z-index:9;

}

/********** RHT Search box tweaks 11/01/18 QA ************/



.inside {
    color: white;
    padding-left: 2rem;
}

#header > div.inside > h1 {
    line-height: 1.8rem;
    /* padding-top: 3rem; */
    color: white;
    margin-top: 43px;
}


.moduletable ul li {
    display: inline-block;
}


.moduletable ul li a {
    color:white;
}



.header__region.region.region-header {
width: 100%;
    position: absolute;
    top: 0;
}


div#topMenu {
    right: 0;
    position: absolute;
    font-weight: bold;
    padding-right: 1rem;
z-index:2;
}


#footerContainer {
   
    background-color: #94aab5;
}


.form-item.form-type-textfield.form-item-search-block-form {
    display: inline-block;
}


div#edit-actions {
    display: inline-block;
}


.container-inline {
    position: absolute;
    right: 0;
/*    top: 3rem;*/
padding-right: 1rem;
z-index:2;
}

.header__secondary-menu {
float: left; 
    position: absolute;
    top: 0;
z-index:2;
}

.header__secondary-menu a {
color:white;
}

.header__logo {
   
    bottom: 0;
    position: absolute;
z-index:2;
transform: translateY(5rem) translateX(5rem);
}


/*div#block-user-login {
    margin-top: 7rem;
}
*/

div#block-user-login {
    margin-left: .75rem;
}



div#footerContainer {
    display: table;
    width: 100%;
border-spacing: 2rem;
}


.f-section {
    display: table-cell!important;
    min-width: calc(100%/5)!important;
padding-right: 0!important;
padding-left: 0!important;
vertical-align: middle!important;
}


.f-section ul {
    height: 7rem;
    padding: 0;
}

.f-section ul li {
    display: block;
}

.f-section p {
    color: #3674b4;
    font-weight: bold;
}

.f-section a {
    text-decoration: none;
}


nav.main-menu {
    display: none;
}


.tb-megamenu {
    background-color: #c4cfd4;
}

.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
    background-color: #2d7581;
   
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
    background-color: #2d7581;
    color: black;
  
}

.tb-megamenu .nav > li > a {
    
    color: black;
    
}



.tb-megamenu.tb-megamenu-main-menu a {
    text-decoration: none;
}


.tb-megamenu .nav > li > a{
border:none;
}


/*.tb-megamenu .nav > li {
    
    width: calc(100%/9);
}
*/
.tb-megamenu .nav > li > a{
font-size:85%;
padding-top: .25rem;
    padding-bottom: .25rem;
}

.tb-megamenu.tb-megamenu-main-menu ul {
    float: right;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background-color: #2d7581;
    color: white;
}


.tb-megamenu-column-inner.mega-inner.clearfix {
    background-color: #c4cfd4;
color:black;
}



.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu > a {
    color: white;
}


.tb-megamenu .dropdown-menu li > a{
color:black;
}


.tb-megamenu .dropdown-menu {
 
    border-bottom: 3px solid #c4cfd4;

}

.tb-megamenu .mega.open > .mega-dropdown-menu, .tb-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
    
    border: none;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: #2d7581;
 
}



.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
   
    background-color: none;
    background-image: none;
    
}


.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
   
    background-color: #2d7581;
	padding:.5rem!important;
}

.tb-megamenu .dropdown-menu .mega-nav > li > a{
font-size: 85%;
    font-weight: bold;
}



.ckeditor-accordion-container > dl dt > a:hover {
    background-color: #2d7581;
	color: white!important;
}

.ckeditor-accordion-container > dl dt > a{
    background-color: #c4cfd4;
}


.ckeditor-accordion-container > dl dt > a {
 
    border-bottom: 1px solid white;
}



.ckeditor-accordion-container > dl dt.active > a {
    background-color: #c4cfd4;
}



/*swap main content & aside from right to left   */



@media (min-width: 999px){
.layout-3col__right-content {
   
    margin-left: 2%;
	
}
}


@media (min-width: 999px){
.layout-3col__left-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar {
  
    margin-right: 2%;
   margin-top: 10%;
}
}




span.views-label.views-label-field-gallery-image {
    display: none;
}


.region.region-highlighted {
    padding-left: 2rem;
    padding-bottom: 2rem;
}


div#footer .inside {
    padding-left: 0;
}



.home-intro-text{
   width: 35%;
    float: left;
position: relative;
    z-index: 2;
padding: 2rem;
padding-left: 0;
margin-top: -2rem;
margin-right: 3.75rem;
}

div#block-views-galleryslider-block {
   
}

div#block-block-4 h2 {
    color: #00008B;
    text-align: center;
}

div#block-block-4 p {
    text-align: center;
}


p{
color:#606060; 
}


div#announcements {
    background-color: #227982;
    padding: .75rem;
    text-align: center;
    color: white;
    font-weight: bolder;
	font-size:110%;
}


a.ckeditor-accordion-toggler {
    color: #606060!important;
    font-weight: 800;
text-decoration:none!important;
}




aside.layout-3col__right-sidebar {

    margin-top: 37.5%;
padding-right: 2rem;
}


tr.even{
background:#C5CFD8;
}

tr.odd{
background:#D9E0E6;
}


td {
    padding: .65rem ;
}



td a {
    text-decoration: none;
}

table.views-table.cols-0 {
    border: 1px solid #227982;
margin-top: -1.5rem;
}

main.layout-3col__left-content {
    padding-left: 2rem;
}

img.file-icon {
    padding-left: .5rem;
}

.not-logged-in table {
    margin: 0;
    
}

.views-table a {
    color: #606060;
transition:1s all;
}


.view-header p {
    background-color: #227982;
    text-align: center;
    padding: .5rem;
    color: white;
    font-weight: bolder;
	margin-top: 0;
	font-size:110%;
}

.views-table a:hover {
    color: #00008B;
   
}

.front ul.tabs {
    /* padding: 0 2rem;
    margin: 0 1rem; */
}



 article.node.node-page.view-mode-full.node-by-viewer.clearfix.node-10 {
    
    width: 57vw;
    float: left;
    padding-left: 2rem;
margin-top:1rem;
}

 article.node.node-page.view-mode-full.clearfix.node-10 {
    width: 57vw;
    float: left;
    padding-left: 2rem;
}



 div#block-views-quicklinks-block {
    float: right;
    width: 25vw;
    padding-right: 2rem;
}

.front main h1 {
    display:none;
}


img#shlBanner {
    float: right;
    padding-right: 2rem;
}



div#block-views-help-is-available-menu-block {
   
    float: right;
    width: 25vw;
    padding-right: 2rem;
}



.front div#block-views-help-is-available-menu-block {
   
    float: right;
    width: 25vw;
    padding-right: 2rem;
    margin-top: .5rem;
}



.view-footer img {
  
    border: 1px solid rgb(34, 121, 130);
    border-radius: .5rem;
    box-shadow: 0 5px 2px #00000038;
}




div.view-header > p:nth-child(1){

padding:0; 
padding-top: .5rem;
    padding-bottom: .5rem;
}




table.views-table.cols-1 {
    font-size: 80%;
}


.view-dom-id-d2a521d6dbaaca79860d317e0d8fa7cf > div.view-header > p:nth-child(1) {
    background-color: transparent;
}


.view-header div {
    text-align: center;
}

.view-header div:hover {
    cursor:pointer;
}

dl.styled {
    margin-top: 0;
}


.layout2column{
display:table;
}

.leftColumn{
display:table-cell;
width: 75%;
vertical-align: top;
padding-right:.75rem;
}

.rightColumn{
display:table-cell;
}


.column {
    display: table-cell;
    width: 33.333%;
}


.column2{
    display: table-cell;
    width: 33.333%;
}


.column p, .column h3 {
    text-align: left;
}


.column2 p, .column2 h3{
    text-align: left;
}


.column img:hover {
    transform: scale(1.1);
    opacity: .5;
}


.column2 img:hover {
    transform: scale(1.1);
    opacity: .5;
}


.column img, .column2 img{
transition:all .5s ease-in-out;
}


.column h3 a {
    color: black;
    text-decoration: none;
    font-weight: 200;
    
}

.column2 h3 a {
    color: black;
    text-decoration: none;
    font-weight: 200;
    
}


.column h3 {
    line-height: 1.5rem;
}


.column2 h3 {
    line-height: 1.5rem;
}


.column p a {
    background: #f5f5f5;
    padding: .75rem;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: black;
    text-decoration: none;
}

.column2 p a {
    background: #f5f5f5;
    padding: .75rem;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: black;
    text-decoration: none;
}


/*.field.field-name-field-sapr-tabs.field-type-field-jquery-tabs.field-label-hidden {
    width: 75%;
}*/

.view.view-prevention-grid img {
    transition: all .5s ease-in-out;
}



.view.view-prevention-grid img:hover {
    transform: scale(1.1);
    opacity: .5;
}


.view-victim-assistance-grid img {
    transition: all .5s ease-in-out;
}



.view-victim-assistance-grid img:hover {
    transform: scale(1.1);
    opacity: .5;
}

.view-saprlibrary-grid img {
    transition: all .5s ease-in-out;
}



.view-saprlibrary-grid img:hover {
    transform: scale(1.1);
    opacity: .5;
}




.views-view-grid .views-field-title a:nth-child(2) {
    font-size: 120%;
  
}

.views-view-grid .views-field .views-field-title {
    text-align: center;
}


.views-field.views-field-field-sapr-grid-img {
    text-align: center;
}



.views-field.views-field-field-sapr-grid-link-button {
    background-color: #f5f5f5;
    display: inline-block;
    padding: .5rem 1.5rem;
    border: 1px solid rgba(0,0,0,.1)!important;
    border-radius: 2px;
    height: 40px;
    /* color: #444!important; */
}


.views-view-grid .field-content {
    height: 200px;
}

tr.row-1.row-first {
    vertical-align: bottom;
}

tr.row-2.row-last {
    vertical-align: bottom;
}



img#admiral {
    float: left;
    border-radius: .5rem;
    box-shadow: 0 5px 2px #00000038;
    margin-right: 1.25rem;

}




.page-node-2 img#saprSource {
    display: none;
}


.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > p > a > img {
    border: 1px solid rgb(34, 121, 130);
    border-radius: .5rem;
    box-shadow: 0 5px 2px #00000038;
}





/*remove some table rows from prevention page*/

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr.odd.views-row-first {
    display: none;
}

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(2) {
    display: none;
}

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(3) {
    display: none;
}


.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(4) {
    display: none;
}


.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(1) > td {
    display: none;
}


.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(8) > td {
    display: none;
}

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(5) {
    background: #D9E0E6;
}

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(7){
  background: #D9E0E6;
}

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(10) {
background: #D9E0E6;
}

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-header > div {
display:none;

}

.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(6) {
    background: #C5CFD8;
}


.page-node-2 > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div > div.view-content > table > tbody > tr:nth-child(9) {
background: #C5CFD8;
}







/*jquery tabs factory style overrride*/


.ui-widget-content{
border:none;
}


.ui-widget {
    font-family: inherit;
font-size:inherit;
}



.ui-widget-header {
    border: none;
    background: transparent;
   
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
border: none;
background: #2D7581!important;
border-radius:4px!important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
border: none;
background: transparent;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
   
    color: white;
}













ul#exclusions {
    list-style: circle;
}


ul#ucmjArticles {
    list-style-image: url(/sapr_drupal_code/sites/default/files/img_pdf_icon.png);
}



#numberStyle ol {
list-style: none; 
counter-reset: li;


}
 


#numberStyle li::before {
content: counter(li);
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    background-color: lightgray;
    padding: .15rem;
    margin: .15rem;
    padding-left: .5rem;
    border: 1px solid gray;
    font-size: 75%;
}


#numberStyle li {counter-increment: li}
 
 
 
 
 
 body > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div.view-content > table > tbody > tr:nth-child(1) {
    background-color: #C5CFD8;
}



body > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div.view-content > table > tbody > tr:nth-child(2) {
    background-color: #D9E0E6;
}

body > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div.view-content > table > tbody > tr:nth-child(3) {
    background-color: #C5CFD8;
}

body > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div.view-content > table > tbody > tr:nth-child(4) {
    background-color: #D9E0E6;
}


body > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div.view-content > table > tbody > tr:nth-child(5) {
    background-color: #C5CFD8;
}


body > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div.view-content > table > tbody > tr:nth-child(6) {
    background-color: #D9E0E6;
}


body > div.layout-center > div > main > article > div > div > div > div > div.rightColumn > div.view-content > table > tbody > tr:nth-child(7) {
    background-color: #C5CFD8;
}

.page-node-33 .field.field-name-field-sapr-tabs.field-type-field-jquery-tabs.field-label-hidden{
    width: 100%;
}


.page-node-33 .ui-tabs .ui-tabs-panel {
    padding: 0;
}

.page-node-33 ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    width: 75%;
}


.page-node-34 .field.field-name-field-sapr-tabs.field-type-field-jquery-tabs.field-label-hidden{
    width: 100%;
}


.page-node-34 .ui-tabs .ui-tabs-panel {
    padding: 0;
}

.page-node-34 ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    width: 75%;
}



.page-node-36 .field.field-name-field-sapr-tabs.field-type-field-jquery-tabs.field-label-hidden{
width:100%;
}

.page-node-36 .ui-tabs .ui-tabs-panel {
    padding: 0;
}


img[alt="FY17_AR_Report_Statistical_Highlights_Info_Graphic_FINAL.jpg"] {
    width: 300px;
Float:right;
}

img[alt="OPA-Infographics_Guard_final_Page_1.png"] {
    width: 300px;
Float:right;
}

img[alt="OPA-Infographics_Guard_final_Page_2.png"] {
    width: 300px;
Float:right;
}


.page-node-34 .views-table tr:nth-child(1) {
    background: #C5CFD8;
}


.page-node-34 .views-table tr:nth-child(2) {
     background: #D9E0E6;
}

.page-node-34 .views-table tr:nth-child(3) {
    background: #C5CFD8;
}


.page-node-34 .views-table tr:nth-child(4) {
     background: #D9E0E6;
}

.page-node-36 .view-content tr:nth-child(1){
background: #C5CFD8;
}

.page-node-36 .view-content tr:nth-child(2){
background: #D9E0E6;
}

.page-node-36 .view-content tr:nth-child(3){
background: #C5CFD8;
}


.page-node-36 .view-content tr:nth-child(4){
background: #D9E0E6;
}



.node-type-sapr-tabs-content .views-table tr:nth-child(1){
background: #C5CFD8;
}

.node-type-sapr-tabs-content .views-table tr:nth-child(2){
background: #D9E0E6;
}

.node-type-sapr-tabs-content .views-table tr:nth-child(3){
background: #C5CFD8;
}


.node-type-sapr-tabs-content .views-table tr:nth-child(4){
background: #D9E0E6;
}





.page-node-34 .leftColumn li {
list-style:none;
list-style-image: url(/sapr_drupal_code/sites/default/files/img_pdf_icon.png);
}

.page-node-34 .leftColumn li ul li{
list-style:none;
}

.page-node-35 .leftColumn li {
list-style:none;
list-style-image: url(/sapr_drupal_code/sites/default/files/img_pdf_icon.png);
}


.page-node-35 #tabs-0-66562000-1539105414-2 li:nth-child(1) {
    list-style: none;
}


.ui-widget-content a{
color: #003976;
}




.tb-megamenu-column-inner.mega-inner.clearfix ul {
  
    float: left;
  
}




.page-node-35 .field.field-name-field-sapr-tabs.field-type-field-jquery-tabs.field-label-hidden{
width:100%;
}

.page-node-35 .ui-tabs .ui-tabs-panel{
padding: 0;
}


.page-node-37 .leftColumn p a {
    display: block;
}

.node-type-sapr-tabs-content .field.field-name-field-sapr-tabs.field-type-field-jquery-tabs.field-label-hidden{
width: 100%;
}


.node-type-sapr-tabs-content .ui-tabs .ui-tabs-panel{
padding: 0;
}

.vidContainer {
    display: table;
    width: 98%;
    transition: all 1.25s;
    border-spacing: 2rem;
}

.vidContainer:hover {
    background-color: #D9E0E6;
outline: 1px solid #C5CFD8;
    outline-offset: .5rem;
}

.vids {
    display: table-cell;
width:45%;
}


.vidTitle {
    display: table-cell;
    vertical-align: middle;
}

.node-type-sapr-tabs-content hr{
width:97%;
}

.front dt {
    padding: .30rem 0;
}


.front dl > dt:nth-child(1) {
    padding: 0;
	padding-bottom:.30rem;
}



.ckeditor-accordion-container > dl{
	
	border:none;
	
	
}


img[alt="img_sapro_crest.jpg"] {
    float: left;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

div#block-block-9{

    float: right;
    width: 260px;
    text-align: center;
}




div#block-block-10 {
    /* display: inline-block; */
    width: 260px;
    float: right;
    text-align: center;
}


div#block-block-11 {
    width: 260px;
    float: right;
}

p.stacked a {
    display: block;
}


.quicklink {
    width: 260px;
    float: right;
}

.quicklink tr:nth-child(1) > td:nth-child(2), 
.quicklink tr:nth-child(2) > td:nth-child(2), 
.quicklink tr:nth-child(3) > td:nth-child(2), 
.quicklink tr:nth-child(4) > td:nth-child(2), 
.quicklink tr:nth-child(5) > td:nth-child(2),
.quicklink tr:nth-child(6) > td:nth-child(2),
.quicklink tr:nth-child(7) > td:nth-child(2){
    display: none;
}

.quicklink th {
    display: none;
}

.quicklink .field-label {
    background-color: #227982;
    color: white;
    text-align: center;
    padding: .25rem 0;
}


.quicklink table.sticky-enabled.tableheader-processed.sticky-table {
    margin-top: 0;
    border: 1px solid #227982;
}










/********** RHT Badge Carousel Styles BEGIN ********************/

.front .jcarousel-next-horizontal {
  position: relative;
  top: -67px;
  left: 562px;
  background-position: 0 -32px;
}

.front .jcarousel-prev-horizontal {
  position: relative ;
  top: -66px ;
  left: -36px ;
  background-position: 0 0 ;
}

.front .jcarousel-view--badge-carousel--block ul{
  width:700px ;
}

.front .jcarousel-skin-default .jcarousel-item {
  border: none;
  width:101px !important;
}

.front .jcarousel-container-horizontal {
  width: 440px;
    height: 102px;
    padding: 20px 40px;
    margin: 0px;
    left: -16px;
    top: -34px;
}

.front .view-badge-carousel .view-header p {
  height: 51px;
  width: 830px;
}

.front .view-id-badge_carousel{
  position: static;
    margin-left: 0;
   /* margin-top: -526px;*/
    width: 600px;
   /* margin-bottom: 300px;*/
	padding-left:1.25rem;
}

.front .view-id-badge_carousel img{
    max-width: none;
    height: auto;
}

.front .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 542px;
    overflow: hidden;
}


_:-ms-fullscreen, :root .front .view-id-badge_carousel {
  position: static;
    margin-left: 0;
    /*margin-top: -526px;*/
    width: 600px;
   /* margin-bottom: 300px;*/
	padding-left:1.25rem;
  }
  
  
  
  div#block-views-badge-carousel-block {
  
    float: left;
    padding: 0 1rem;
}
  
  
  
  .jcarousel-skin-default {
    text-align: center;
    transform: scale(1.3);
    padding-top: 1.25rem;
    padding-left: 4rem;
}
  
  
  /********** RHT Badge Carousel Styles END ********************/






/********* RHT Removing Breadcrumb Home *****************/

.front .breadcrumb__item{
display:none;
}




/*iPad*/









/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    .view-id-prevention_grid {
        width:auto!important;
    }
    .view-id-victim_assistance_grid {
        width:auto!important;
    }




    .node-type-sapr-tabs-content .view-mode-full {
        width:auto!important;
    }


    .node-type-page .view-mode-full{

        width: auto!important;
        }

  body{
	  padding:0;
	  
  }
  
  .page-node-3 div#block-block-9 {
    float: none;
    width: auto;
    text-align: center;
}


/*   article p, article li, article ol {
    font-size: 120%;
    line-height: normal;
}
 */

/*  .view-footer img {
    width: 90vw;
    margin: 0 2rem;
} */


.views-field.views-field-field-sapr-grid-link-button {
  
    margin-top: 2rem;
}


.quicklink {
    width: auto;
    float: none;
    margin: 0 1rem;
    margin-bottom: 1rem;
}


  div#block-block-5 {
    float: left;
    margin-left: 1rem;
}
  

div#edit-actions {
    margin-bottom: 1rem;
}


  main.layout-3col__right-content {
    padding: 0 2rem;
}
  
  
  .f-section{
	  
	  display:inline-block!important;
	  width: 50%;
	  
  }
  
  #header > div.inside > h1 {
  
    font-size: 120%;
    margin-top: -39px;
}
  
header.header a img {
    transform: scale(.8);
}



  .tb-megamenu-column-inner.mega-inner.clearfix {
    background-color: black;
  
}



nav.header__secondary-menu {
    padding-left: 2rem;
    left: 70%;
    top: 75%;
}

.header__logo {
    bottom: 30%;
    position: absolute;
    z-index: 2;
    transform: translateY(5rem) translateX(5rem) scale(.8);
}
  
  .tb-megamenu .nav-collapse{
	  
	  text-align:center;
	  
  }
  
  .tb-megamenu-column-inner.mega-inner.clearfix ul{
	  float:none;
	  
	  
  }
  
  
  
  .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus {
	  
	  color:black;
  }
  
  
  .layout2column{
	  
	  display:table;
  }
  
  .leftColumn{
	  
	  display:block;
	  width: 100%;
  }
  
  .rightColumn {
    display: block;
}
  
  
 div#block-block-4 {
    width: 100%;
    
  
} 
  
  div#block-views-quicklinks-block {

    width: 35vw;
    /* float: left; */
    padding-right: 1rem;
    padding-left: .5rem;
    
}
  
  
 .front article.node.node-page.view-mode-full.clearfix.node-10{
	  
    width: 65vw!important;
	  
  }
  
  
  .jcarousel-skin-default {
    text-align: center;
    transform: scale(.85);
     padding-top: 0; 
     padding-left: 0; 
}
  
  
  .front .view-badge-carousel .view-header p {
  
    width: 60vw;
}
  
  div#block-views-help-is-available-menu-block {
 
    width: 35vw;
  
}
  
  
  .front .jcarousel-container-horizontal {
   
    left: -6rem;
   
}
  
.page-node-2 .rightColumn > div > p:nth-child(3) > a > img {
    float: left!important;
} 
  
  .page-node-2 .rightColumn > div > div:nth-child(4) {
    float: none!important;
}

.page-node-33 .rightColumn > div.view-footer > a > img {
    float: left!important;
}
  
  .page-node-33 .rightColumn > div > div:nth-child(2) {
    float: none!important;
} 
  
  .page-node-33 ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    width: 100%;
}
  
 /*  img[alt="FY17_AR_Report_Statistical_Highlights_Info_Graphic_FINAL.jpg"] {
    width: 80%;
Float:none!important;
}

img[alt="OPA-Infographics_Guard_final_Page_1.png"] {
    width: 80%;
Float:none!important;
}

img[alt="OPA-Infographics_Guard_final_Page_2.png"] {
    width: 80%;
Float:none!important;
}
  
  
  .page-node-33 .rightColumn > p:nth-child(2), .page-node-33 .rightColumn > p:nth-child(3), .page-node-33 .rightColumn > p:nth-child(4) {
    text-align: center;
}
  
  .page-node-35 .rightColumn > div.view-footer > a > img {
    float: left!important;
}
  
  .page-node-35 .rightColumn > div > div:nth-child(2) {
    float: none!important;
}  
  
    .page-node-35 .rightColumn > p:nth-child(4), .page-node-35 .rightColumn > p:nth-child(5), .page-node-35 .rightColumn > p:nth-child(6) {
    text-align: center;
}
  
  
  .page-node-36 .rightColumn > div.view-footer > a > img {
    float: left!important;
}
  
  .page-node-36 .rightColumn > div > div:nth-child(2) {
    float: none!important;
}  
  
     .page-node-36 .rightColumn > p:nth-child(6), .page-node-36 .rightColumn > p:nth-child(7), .page-node-36 .rightColumn > p:nth-child(8) {
    text-align: center;
}
  
   .page-node-37 .rightColumn > div.view-footer > a > img {
    float: left!important;
}
  
   .page-node-37 .rightColumn > div > div:nth-child(2) {
    float: none!important;
}  
  
  .page-node-37 .rightColumn > p:nth-child(6), .page-node-37 .rightColumn > p:nth-child(7), .page-node-37 .rightColumn > p:nth-child(8) {
    text-align: center;
}
  
  
   .page-node-8 .rightColumn > div.view-footer > a > img {
    float: left!important;
}
  
  .page-node-8 .rightColumn > div > div:nth-child(2) {
    float: none!important;
}  
  
  
  .page-node-8 .rightColumn > p:nth-child(6), .page-node-8 .rightColumn > p:nth-child(7), .page-node-8 .rightColumn > p:nth-child(8) {
    text-align: center;
} */
  

div#block-block-11 {
    width: auto;
}


div#block-block-11 img {
    width: auto;
    padding: 0 1rem;
}

  .page-contact .rightColumn.view-footer {
    float: left!important;
	padding-top: 1rem;
}
  
  
  div#block-views-badge-carousel-block {
    
    width: 65vw;
}
  
  .tb-megamenu .btn {
	  
	  background-image: linear-gradient(to bottom,#227982,#227982);
	  margin:.25rem;
  }
  
  .tb-megamenu .btn:hover {
	  
	  background-color: #227982;
	  
	  
  }



  div#block-block-4 {
    width: 90%!important;
  
	  
  }


  div#block-block-4, div#block-views-galleryslider-block{
    width: 90%!important;
    display: block!important;
  
	  
  }




  
}

/*END iPad*/



/*Phone*/


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	  
	  html {
    width: 250vw;
}
	  
	  body{
		 padding:0; 
		  
		  
      }
      
      .layout-swap__top.layout-3col__full {
        order: -1;
    }



      .front div#block-views-help-is-available-menu-block {
        float: none;
        width: auto;
        margin-right: 1rem;
    }


    .front .view-footer a img {
        width: 300vw;
    }


	  
	   .layout-swap {
    display: flex;
    flex-direction: column;
}
	  
	  .layout-3col.layout-swap p, .layout-3col.layout-swap li, .layout-3col.layout-swap td, .layout-3col.layout-swap dl dt, dd.active {
    font-size: 1.6rem;
    line-height: 2.5rem;
}
	  
	  div#block-block-4 {
    width: 100%;
	  }
	  
	  .inside h1 {
    font-size: 150%;
    margin-top: -40px!important;
}


.quicklink {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
}


div#block-block-9 {
    float: none;
}

div#block-block-6 {
    padding: 0 1rem;
}

form#contact-site-form {
    padding: 0 1rem;
}

.views-field.views-field-field-sapr-grid-link-button {
    margin-top: 18rem;
    height: 60px;
}


div#block-block-11 {
    width: auto;
    text-align: center;
}


div#announcements {

    font-size: 1.6rem;
}

.header__logo {
   
    transform: translateY(.5rem) translateX(5rem) scale(.6);
}

nav.header__secondary-menu {
 
    left: 75%;
    top: 70%;
}

.tb-megamenu-column-inner.mega-inner.clearfix {
    background-color: black;
  
}

.tb-megamenu .nav-collapse{
	  
	  text-align:center;
	  
  }
  
  .tb-megamenu-column-inner.mega-inner.clearfix ul{
	  float:none;
	  
	  
  }
  
  
  
  .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus {
	  
	  color:black;
  }
  
	  
	  .tb-megamenu-subnav li a {
    border: none!important;
}
	  
	  .tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a {
    border: none;
}
	  
	  
	  .tb-megamenu.tb-megamenu-main-menu li a {
    font-size: 100%!important;
}


	  div#views_slideshow_cycle_teaser_section_galleryslider-block_1 {
    margin: 0px auto;
}


	  article.node.node-page.view-mode-full.clearfix.node-10 {
    width: 97%!important;
    float: none;
    
}


.logged-in article.node.node-page.view-mode-full.clearfix.node-10 {
    width: 97%;
    float: none;
    
}


div#block-views-quicklinks-block {
    float: none;
    width: 98%;
    padding: 0 2rem;
}


div#block-views-help-is-available-menu-block {
    float: none;
    width: 98%;
    padding: 0 2rem;
}


 .tb-megamenu .btn {
	  
	  background-image: linear-gradient(to bottom,#227982,#227982);
	  margin:.25rem;
  }
  
  .tb-megamenu .btn:hover {
	  
	  background-color: #227982;
	  
	  
  }

  .tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
   
    font-size: 1.3rem;
}
  
  
  .tb-megamenu .nav-collapse .nav > li {
    float: none;
    font-size: 1.3rem;
}
  

article {
    padding: 0 1rem;
}


aside.layout-3col__left-sidebar {
    padding-right: 2rem;
}
  
	main.layout-3col__right-content {
    margin-top: 2rem;
}

  
	.layout2column{
	  
	  display:table;
  }
  
  .leftColumn{
	  
	  display:block;
	  width: 100%;
  }
  
  .rightColumn {
    display: block;
}
    
	  
	.page-node-1 .layout-3col.layout-swap {
    display: flex;
    flex-direction: column;
}  
	  
	  .page-node-1 .layout-swap__top.layout-3col__full {
    order: -1;
}
	  
	  
	.page-node-26 .layout-3col.layout-swap {
    display: flex;
    flex-direction: column;
}  
	  
	  .page-node-26 .layout-swap__top.layout-3col__full {
    order: -1;
}
		  
		.page-node-27 .layout-3col.layout-swap {
    display: flex;
    flex-direction: column;
}  
	  
	  .page-node-27 .layout-swap__top.layout-3col__full {
    order: -1;
}
	  
			.page-node-28 .layout-3col.layout-swap {
    display: flex;
    flex-direction: column;
}  
	  
	  .page-node-28 .layout-swap__top.layout-3col__full {
    order: -1;
}  
	  
	 
.page-node-2 .rightColumn > div > p:nth-child(3) {
    float: left;
}

.page-node-2 .rightColumn > div > div:nth-child(4) {
    float: none!important;
}


.page-node-2 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-3 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-29 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-30 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-31 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-32 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-33 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-34 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-35 main.layout-3col__full {
    margin-top: 2rem;
}


.page-node-36 main.layout-3col__full {
    margin-top: 2rem;
}

.page-node-37 main.layout-3col__full {
    margin-top: 2rem;
}


.node-type-sapr-tabs-content main.layout-3col__full {
    margin-top: 2rem;
}


.page-node-8 main.layout-3col__full {
    margin-top: 2rem;
}



.page-node-33 .rightColumn > div.view-footer > a > img {
    float: left!important;
}





.page-node-33 .rightColumn > div.view-footer > div:nth-child(2){
	
float:none!important;	
	
}

.page-node-33 ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    width: 100%;
}

img[alt="FY17_AR_Report_Statistical_Highlights_Info_Graphic_FINAL.jpg"] {
    width: 80%;
    Float: none!important;
}

	 
	img[alt="OPA-Infographics_Guard_final_Page_1.png"] {
    width: 80%;
    Float: none!important;
} 
	 
	 
img[alt="OPA-Infographics_Guard_final_Page_2.png"] {
    width: 80%;
    Float: none!important;
}

	 
	 .page-node-33 .rightColumn > p:nth-child(2), .page-node-33 .rightColumn > p:nth-child(3), .page-node-33 .rightColumn > p:nth-child(4) {
    text-align: center;
}
	 
	 
	.page-node-35 .rightColumn > div.view-footer > a > img{
		
		float:left!important;
		
	}


.page-node-35 .rightColumn > div.view-footer > div:nth-child(2){
	
float:none!important;	
	
}


	.page-node-35 .rightColumn > p:nth-child(4), .page-node-35 .rightColumn > p:nth-child(5), .page-node-35 .rightColumn > p:nth-child(6) {
    text-align: center;
}
	
	
		.page-node-36 .rightColumn > div.view-footer > a > img{
		
		float:left!important;
		
	}


.page-node-36 .rightColumn > div.view-footer > div:nth-child(2){
	
float:none!important;	
	
}


	.page-node-36 .rightColumn > p:nth-child(6), .page-node-36 .rightColumn > p:nth-child(7), .page-node-36 .rightColumn > p:nth-child(8) {
    text-align: center;
}
	
	
	
	
	
	
	
	
	
		.page-node-37 .rightColumn > div.view-footer > a > img{
		
		float:left!important;
		
	}


.page-node-37 .rightColumn > div.view-footer > div:nth-child(2){
	
float:none!important;	
	
}


	.page-node-37 .rightColumn > p:nth-child(6), .page-node-37 .rightColumn > p:nth-child(7), .page-node-37 .rightColumn > p:nth-child(8) {
    text-align: center;
}
	
	
	
	
	
	
	
	
	
		.page-node-8 .rightColumn > div.view-footer > a > img{
		
		float:left!important;
		
	}


.page-node-8 .rightColumn > div.view-footer > div:nth-child(2){
	
float:none!important;	
	
}


	.page-node-8 .rightColumn > p:nth-child(6), .page-node-8 .rightColumn > p:nth-child(7), .page-node-8 .rightColumn > p:nth-child(8) {
    text-align: center;
}
	
	
div#block-block-4, div#block-views-galleryslider-block{
    width: 90%!important;
    display: block!important;
  
	  
  }


  .views-slideshow-controls-top.clearfix{

    float: none!important;
    display: block!important;
    text-align: center;
  }
 
  .node-type-page .view-mode-full{

    width: auto!important;
    }


    .node-type-sapr-tabs-content .view-mode-full {
        width:auto!important;
    }

    .view-id-prevention_grid {
        width:auto!important;
    }


    .view-id-victim_assistance_grid {
        width:auto!important;
    }


}


  
  /*END phone*/
  
  
/*********** RHT QA fixes 11/01/18 *************/
#edit-search-block-form--2{
width:18rem;
}



@media (min-width: 1200px) {
.newHeader{
margin-top:72px;
}
}


.header__secondary-menu{
display:none;
}


.node-type-page .view-mode-full{
width:114%;
}

.node-type-sapr-tabs-content .view-mode-full{
width:114%;
}


.node-type-page .node-quicklink-pdfs{
width:102%;
}


.node-type-sapr-tabs-content .node-quicklink-pdfs{
width:102%;
}


.view-id-victim_assistance_grid{
width: 115%;
}


.view-id-sapr_library_grid{
width: 115%;
}


.view-id-prevention_grid{
width: 115%;
}

/* ET Q/A fixes Nov 5 2018 */


.views-slideshow-controls-top.clearfix {
    display: inline-block;
}

/* div#block-block-4 {
    width: 35%;
    float: left;
    margin-right: 2.5rem;
} */


.views-slideshow-controls-top.clearfix {
    float: right;
    padding-right: 2.5rem;
    margin-bottom: .5rem;
}

div#views_slideshow_controls_text_galleryslider-block_1 span a, div#views_slideshow_controls_text_galleryslider-block_1 span a:hover {
    font-size: 85%;
    background-color: #2d7581;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    
}


.views_slideshow_controls_text span:hover {
    text-decoration: unset;
 
}


/* ET Q/A fixes Nov 7 2018 */


.views-slideshow-controls-bottom.clearfix {
    float: right;
}

.region.region-highlighted {
    display: table;
    width: 100%;
  
    
}

div#block-block-4 {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 0 8rem;
}

div#block-views-galleryslider-block {
    display: table-cell;
    width: 50%;
    padding-right: 2rem;

}


/* #block-views-galleryslider-block > div.view.view-galleryslider.view-id-galleryslider.view-display-id-block{

    float: right;
} */


#views_slideshow_controls_text_pause_galleryslider-block_1{

    display: none;
}

/* govt machine resolution standard */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1920px) {

    div#block-views-quicklinks-block {
        float: right;
        width: 22vw;
        padding-right: 2rem;
    }
 
    .front .view-badge-carousel .view-header p {
        height: 51px;
        width: 54vw;
    }

    div#block-block-4 {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding: .5rem;
    }

    .tb-megamenu.tb-megamenu-main-menu ul {
        float: right;
        font-size: 80%;
    }

    .header__logo-image {
        vertical-align: bottom;
        transform: scale(.80) translateX(-25%);
    }
    

    .views-slideshow-controls-bottom.clearfix {
        float: none;
        display: block;
        text-align: center;
    }

    .node-type-page .view-mode-full {
        width: 107%;
    }
    .node-type-sapr-tabs-content .view-mode-full {
        width: 107%;
    }
    
    .front .jcarousel-next-horizontal {
        position: relative;
        top: -100px;
        left: 545px;
        background-position: 0 -32px;
    }
    
    .view-id-prevention_grid, .view-id-victim_assistance_grid, .view-id-sapr_library_grid {
  
        width: 108%;
    }
}



/* govt machine resolution standard */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1280px) {

   
.header__logo-image {
   
    transform: scale(0.6) translateX(-85%) translateY(-30%);
}



.front .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 512px;
    overflow: hidden;
}


.front .view-id-badge_carousel img {
    max-width: 70px;

}


.jcarousel-skin-default .jcarousel-item-horizontal {
    margin: 0;
}


.front .jcarousel-next-horizontal {
    position: relative;
    top: -100px;
    left: 500px;
    background-position: 0 -32px;
}

.node-type-page .view-mode-full {
    width: 104%;
}

.views-field.views-field-field-sapr-grid-link-button {
  
    margin-top: 1.35rem;
}



.node-type-sapr-tabs-content .view-mode-full {
    width: 104%;
}
.page-node-33 ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    width: 100%;
}

h1, .header__site-name{

    -webkit-transform: scale(.93) translateX(-2rem);
}





.jcarousel-skin-default {

    -webkit-transform: scale(1.2);
  
}

article.node.node-page.view-mode-full.node-by-viewer.clearfix.node-10{

width: 56vw;

}

li[data-id="366"], li[data-id="219"]{

    position: relative;
    z-index: 6;
}


.front .view-badge-carousel .view-header p {
    height: 51px;
    width: 53vw;
}


.view-footer {
    -ms-transform: translateY(20px);
}



}

/* .region.region-navigation {
    position: relative;
    z-index: 3;
} */

